{# {% extends 'layout/backLayout.html.twig' %} #}
{% block body %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <!-- App css -->
        <link href={{ asset('new/css/bootstrap.min.css')}} rel="stylesheet" type="text/css" />
        <link href={{ asset('new/css/icons.min.css')}} rel="stylesheet" type="text/css" />
        <link href={{ asset('new/css/theme.min.css')}} rel="stylesheet" type="text/css" />
        <link href={{ asset('new/css/style.css')}} rel="stylesheet" type="text/css" />
         <link href={{ asset('new/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css')}} rel="stylesheet" type="text/css" />
        {% endblock %}
    </head>
    <body>

       <div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex align-items-center min-vh-100">
                        <div class="w-100 d-block bg-white shadow-lg rounded my-5">
                            <div class="row">
                                <div class="col-lg-5 d-none d-lg-block bg-login rounded-left"></div>
                                <div class="col-lg-7">
                                    <div class="p-5">
                                        <div class="text-center mb-5">
                                                            <span>
                                                                Consulting Bergeyron
                                                            </span>
                                        </div>
                                        <h1 class="h5 mb-1">Reset Password</h1>
                                        <p class="text-muted mb-4">Enter your email address and we'll send you an email with instructions to reset your password.</p>
                                        <form>
                                            <div class="form-group">
                                                <label for="exampleInputEmail">Email Address</label>
                                                <input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email Address">
                                            </div>
                                            <a href="#" class="btn btn-success btn-block waves-effect waves-light"> Log In </a>
                                            
                                        </form>

                                        <div class="row mt-5">
                                            <div class="col-12 text-center">
                                                <p class="text-muted">Already have account?  <a href="/" class="text-muted font-weight-medium ml-1"><b>Sign In</b></a></p>
                                            </div> <!-- end col -->
                                        </div>
                                        <!-- end row -->
                                    </div> <!-- end .padding-5 -->
                                </div> <!-- end col -->
                            </div> <!-- end row -->
                        </div> <!-- end .w-100 -->
                    </div> <!-- end .d-flex -->
                </div> <!-- end col-->
            </div> <!-- end row -->
        </div>
        <!-- end container -->
    </div>

            {% block javascripts %}
         <!-- jQuery  -->
        <script src={{ asset('new/js/jquery.min.js')}}></script>
        <script src={{ asset('new/js/bootstrap.bundle.min.js')}}></script>
        <script src={{ asset('new/js/metismenu.min.js')}}></script>
        <script src={{ asset('new/js/waves.js')}}></script>
        <script src={{ asset('new/js/simplebar.min.js')}}></script>



        <!-- Sparkline Js-->
        <script src={{ asset('new/plugins/jquery-sparkline/jquery.sparkline.min.js')}}></script>

        <!-- Chart Js-->
        <script src={{ asset('new/plugins/jquery-knob/jquery.knob.min.js')}}></script>

        <!-- Chart Custom Js--> 
        <script src={{ asset('new/pages/knob-chart-demo.js')}}></script>

        <!-- Morris Js-->
         <script src={{ asset('new/plugins/morris-js/morris.min.js')}}></script>

        <!-- Raphael Js-->
         <script src={{ asset('new/plugins/raphael/raphael.min.js')}}></script>
        

        <!-- Custom Js -->
        <script src={{ asset('new/pages/dashboard-demo.js')}}></script>

        <!-- App js -->
        <script src={{ asset('new/js/theme.js')}}></script>
       
        
        {% endblock %}
</body>
</html>

{% endblock %}
