{% extends 'layout/backLayout.html.twig' %}
{% block stylesheets %}
{{ parent() }}
   <link href={{ asset('new/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.css')}} rel="stylesheet" type="text/css" />
   <link href={{ asset('new/plugins/daterangepicker/daterangepicker.css')}} rel="stylesheet" type="text/css" />
   <link href={{ asset('new/plugins/select2/select2.min.css')}} rel="stylesheet" type="text/css" />
   <link href={{ asset('new/plugins/switchery/switchery.min.css')}} rel="stylesheet" type="text/css" />
   <link href={{ asset('new/plugins/bootstrap-colorpicker/bootstrap-colorpicker.min.css')}} rel="stylesheet" type="text/css" />
   <link href={{ asset('new/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css')}} rel="stylesheet" type="text/css" />

{% endblock %}
{% block body %}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="col-12">
                {% for message in app.flashes('successDel')  %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('successUpd')  %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                <div class="card-deck-wrapper">
                    <div class="card-deck">
                        <div class="row">
                            {% for temoignage in temoignages %}
                                <div class="col-md-4">
                                    <div class="card mb-4">
                                        <img class="card-img-top img-fluid" src="{{ asset('new/uploads/')}}{{ temoignage.img }}"  alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ temoignage.nom }}</h5>
                                            <p class="card-text">
                                            <strong>{{ temoignage.titre }}</strong> <br>
                                            {{ temoignage.message }}</p>
                                            <p class="card-text">
                                                <small class="text-muted">{{ temoignage.date|date("m/d/Y") }}</small>
                                                <small class="text-muted">{{ temoignage.id }}</small>
                                            </p>
                                            <a href="{{ path('GetTemoignage',{id: temoignage.id }) }}" ><button type="button" class="btn btn-success btn-sm btn-block waves-effect waves-light" >Modifier</button></a>
                                            <button type="button" class="btn btn-danger btn-sm btn-block waves-effect waves-light"  data-toggle="modal" data-target="#exampleModal{{temoignage.id }}">Supprimer</button>
                                            <!-- Modal -->
                                            <!-- Modal -->
                                             <div class="modal fade" id="exampleModal{{temoignage.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                            <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Voulez-vous vraiment Supprimer ce Témoignage
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary waves-effect waves-light" data-dismiss="modal">Annuler</button>
                                                            <a href="{{ path('DeleteTemoignage',{id: temoignage.id}) }}"><button type="button" class="btn btn-danger">Supprimer</button></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>    
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- end card -->
        </div>        
    </div> <!-- end card-->
</div>

{% endblock %}
{% block javascripts %}
{{ parent() }}
    <!-- Plugins js -->
    <script src={{ asset('new/plugins/autonumeric/autoNumeric-min.js')}}></script>
    <script src={{ asset('new/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js')}}></script>
    <script src={{ asset('new/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js')}}></script>
    <script src={{ asset('new/plugins/moment/moment.js')}}></script>
    <script src={{ asset('new/plugins/daterangepicker/daterangepicker.js')}}></script>
    <script src={{ asset('new/plugins/select2/select2.min.js')}}></script>

    <script src={{ asset('new/plugins/switchery/switchery.min.js')}}></script>
    <script src={{ asset('new/plugins/bootstrap-colorpicker/bootstrap-colorpicker.min.js')}}></script>
    <script src={{ asset('new/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js')}}></script>


    <!-- Custom Js -->
    <script src={{ asset('new/pages/advanced-plugins-demo.js')}}></script>
 

    <!-- App js -->
    <script src={{ asset('new/js/theme.js')}}></script>

{% endblock %}



    
